@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"] + p,
[epub|type~="z3998:salutation"] + p,
[epub|type~="se:letter.dateline"] + p,
[epub|type~="z3998:letter"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: left;
}

body [xml|lang]{
	font-style: italic;
}

body [xml|lang] em{
	font-style: initial;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p,
[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

section + p{
	margin-top: 1em;
}

table{
	margin: 1em auto 1em auto;
}

table td:last-child{
	text-align: right;
	font-variant-numeric: tabular-nums;
}

#letter-40 table{
	table-layout: fixed;
	width: 70%;
}

#letter-40 table td:first-child{
	width: 90%;
}

#letter-40 table td:last-child{
	width: 10%;
}

ul{
	list-style-type: none;
}

#letter-53 ul{
	columns: 3;
}

#letter-81 ul,
#letter-82 ul{
	columns: 2;
}
